<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->

<mapper namespace="com.example.blog.mapper.UserMapper">

    <select id="findByToken" resultMap="UserMap" parameterType="String">
        select * from user where token = #{token}
    </select>

    <insert id="addUser">
        insert into user (name,account_id,token,gmt_create,gmt_modified) values (#{name},#{accountId},#{token},#{gmtCreate},#{gmtModified})
    </insert>

    <resultMap id="UserMap" type="User">

    </resultMap>
</mapper>